.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 45px;
    border: none;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(203, 197, 197);
    font-weight: 600;
}